@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title]</h1>
    <h3 class="display-5">Check out our roster of Chefs!</h3>
    <hr>
    <a href="/NewChef" class="d-flex justify-content-left">Add a Chef</a>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th># of Dishes</th>
        </tr>
        @foreach(var chef in ViewBag.AllChefs)
        {
            int age = 0;
            age = DateTime.Now.Year - @chef.DOB.Year;
        <tr>
            <td>@chef.FirstName @chef.LastName</td>
            <td>@age</td>
            <td>@chef.AllDishes.Count</td>
        </tr>
        }
    </table>
</div>
